flows.json
[
    {
        "id": "46c740378cd3d37a",
        "type": "tab",
        "label": "HIVEMQ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5df21b621a6f8629",
        "type": "mqtt in",
        "z": "46c740378cd3d37a",
        "name": "",
        "topic": "esp8266/dht11",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ed96e13f2437c5eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "ae61791d1e154a99",
                "f5293b6d9a0ccc1d",
                "28377370eca6d579"
            ]
        ]
    },
    {
        "id": "ae61791d1e154a99",
        "type": "debug",
        "z": "46c740378cd3d37a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "7630957dc7bdb79b",
        "type": "ui_gauge",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "734b5b45ad3ff782",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "f5293b6d9a0ccc1d",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 1",
        "func": "var temp = Math.round(msg.payload.temperature * 10) / 10\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "7630957dc7bdb79b",
                "0fa94cbb43bcef1c"
            ]
        ]
    },
    {
        "id": "28377370eca6d579",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 2",
        "func": "var temp = msg.payload.humidity\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 280,
        "wires": [
            [
                "4658155b24d86e74",
                "2d9cc4c4f6cdad31"
            ]
        ]
    },
    {
        "id": "4658155b24d86e74",
        "type": "ui_gauge",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "734b5b45ad3ff782",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Độ ẩm",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "0fa94cbb43bcef1c",
        "type": "ui_chart",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "734b5b45ad3ff782",
        "order": 18,
        "width": 6,
        "height": 4,
        "label": "Đồ thị nhiệt độ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9cc4c4f6cdad31",
        "type": "ui_chart",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "734b5b45ad3ff782",
        "order": 16,
        "width": 6,
        "height": 4,
        "label": "Đồ thị độ ẩm",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e4afebe2133fb389",
        "type": "mqtt out",
        "z": "46c740378cd3d37a",
        "name": "esp8266/client",
        "topic": "esp8266/client",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ed96e13f2437c5eb",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "3142ca878fc5d7f9",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 3",
        "func": "var input = msg.payload;\nif(input===true){\n    msg.payload = \"{\\\"out2\\\":1}\";\n}else{\n    msg.payload = \"{\\\"out2\\\":0}\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "e4afebe2133fb389"
            ]
        ]
    },
    {
        "id": "660fe08bc278d102",
        "type": "ui_switch",
        "z": "46c740378cd3d37a",
        "name": "Button2",
        "label": "Fan",
        "tooltip": "",
        "group": "a56f8967af78bfb3",
        "order": 4,
        "width": 2,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "3142ca878fc5d7f9",
                "b5e239048c986ca1"
            ]
        ]
    },
    {
        "id": "fca7c349bb805470",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 4",
        "func": "var input = msg.payload;\nif(input===true){\n    msg.payload = \"{\\\"out1\\\":1}\";\n}else{\n    msg.payload = \"{\\\"out1\\\":0}\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 540,
        "wires": [
            [
                "e4afebe2133fb389"
            ]
        ]
    },
    {
        "id": "6d4f0508a6c18f76",
        "type": "ui_switch",
        "z": "46c740378cd3d37a",
        "name": "Button1",
        "label": "Switch1",
        "tooltip": "",
        "group": "a56f8967af78bfb3",
        "order": 2,
        "width": 2,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 580,
        "wires": [
            [
                "fca7c349bb805470",
                "546713fa98878825"
            ]
        ]
    },
    {
        "id": "6a356a51e9649788",
        "type": "mqtt in",
        "z": "46c740378cd3d37a",
        "name": "",
        "topic": "esp8266/out",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ed96e13f2437c5eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "654e4c10fb6555e0",
                "86c5aecfaf994657",
                "e7c471fc0e80d7d1"
            ]
        ]
    },
    {
        "id": "654e4c10fb6555e0",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 5",
        "func": "var temp = msg.payload.out1\nmsg.payload = (msg.payload.out1===1)?true:false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 740,
        "wires": [
            [
                "33d88c7d384142a4",
                "10482cdc69d037c8"
            ]
        ]
    },
    {
        "id": "86c5aecfaf994657",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 6",
        "func": "var temp = msg.payload.out2\nmsg.payload = (msg.payload.out2 === 1) ? true : false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 520,
        "wires": [
            [
                "7f2c8c66bdd5f997",
                "b5e239048c986ca1"
            ]
        ]
    },
    {
        "id": "33d88c7d384142a4",
        "type": "ui_led",
        "z": "46c740378cd3d37a",
        "order": 13,
        "group": "a56f8967af78bfb3",
        "width": 4,
        "height": 2,
        "label": "Led 2",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Out1",
        "x": 1410,
        "y": 740,
        "wires": []
    },
    {
        "id": "7f2c8c66bdd5f997",
        "type": "ui_led",
        "z": "46c740378cd3d37a",
        "order": 15,
        "group": "a56f8967af78bfb3",
        "width": 4,
        "height": 2,
        "label": "Fan",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Out1",
        "x": 1410,
        "y": 520,
        "wires": []
    },
    {
        "id": "546713fa98878825",
        "type": "noraf-switch",
        "z": "46c740378cd3d37a",
        "devicename": "Switch 1",
        "roomhint": "",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "2bb010b9aa3c9ffe",
        "topic": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "fca7c349bb805470",
                "6d4f0508a6c18f76"
            ]
        ]
    },
    {
        "id": "b5e239048c986ca1",
        "type": "noraf-switch",
        "z": "46c740378cd3d37a",
        "devicename": "Fan",
        "roomhint": "",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "aecb9e982a41ae3a",
        "topic": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "3142ca878fc5d7f9",
                "660fe08bc278d102"
            ]
        ]
    },
    {
        "id": "056b9262da3b68f7",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 7",
        "func": "var input = msg.payload;\nif(input===true){\n    msg.payload = \"{\\\"out3\\\":1}\";\n}else{\n    msg.payload = \"{\\\"out3\\\":0}\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 760,
        "wires": [
            [
                "e4afebe2133fb389"
            ]
        ]
    },
    {
        "id": "7fb53598fd87fa84",
        "type": "ui_switch",
        "z": "46c740378cd3d37a",
        "name": "Button3",
        "label": "Switch3",
        "tooltip": "",
        "group": "a56f8967af78bfb3",
        "order": 6,
        "width": 2,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 760,
        "wires": [
            [
                "056b9262da3b68f7",
                "10482cdc69d037c8"
            ]
        ]
    },
    {
        "id": "10482cdc69d037c8",
        "type": "noraf-switch",
        "z": "46c740378cd3d37a",
        "devicename": "Switch 3",
        "roomhint": "",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "aecb9e982a41ae3a",
        "topic": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "056b9262da3b68f7",
                "7fb53598fd87fa84"
            ]
        ]
    },
    {
        "id": "e7c471fc0e80d7d1",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 8",
        "func": "var temp = msg.payload.out1\nmsg.payload = (msg.payload.out3===1)?true:false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 640,
        "wires": [
            [
                "c241e3373492ecc2",
                "546713fa98878825"
            ]
        ]
    },
    {
        "id": "c241e3373492ecc2",
        "type": "ui_led",
        "z": "46c740378cd3d37a",
        "order": 17,
        "group": "a56f8967af78bfb3",
        "width": 4,
        "height": 2,
        "label": "Led 1",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Out1",
        "x": 1410,
        "y": 640,
        "wires": []
    },
    {
        "id": "79d23b7d55d48f08",
        "type": "cronplus",
        "z": "46c740378cd3d37a",
        "name": "time",
        "outputField": "payload",
        "timeZone": "Asia/Ho_Chi_Minh",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "json",
                "payload": "true",
                "expressionType": "cron",
                "expression": "0 43 11  * * * * ",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "schedule2",
                "topic": "topic2",
                "payloadType": "json",
                "payload": "false",
                "expressionType": "cron",
                "expression": "0 45 11  * * * * ",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 110,
        "y": 520,
        "wires": [
            [
                "546713fa98878825"
            ]
        ]
    },
    {
        "id": "6258e6dd11fa2bae",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb55384660300c71",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "cd3cea1642823ca4",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "806e0c5edc20c201",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "cfba8e1ca622b0a1",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3e20571d76c7af9",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "3e8aa78de666a119",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "de0ab8d07db2fca0",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "2cbec47ef27be118",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 12,
        "width": 14,
        "height": 1
    },
    {
        "id": "94f0124b33055dd5",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "845b8778b63c5996",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "07ed151471914220",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "e94dcce90b696476",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "1f541d5a676de403",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "77069bc6b15ed21e",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "532aeac82ec08fa6",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "82a3afc6d5028495",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8126ac76832490b",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "c7a7f6289014522e",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "a0f501a0c78fb774",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0b85bc715d92d77",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "37fadd5d6a8e44f9",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "eae63472720b061e",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "325b209adaf68156",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "9cc694da77cddf50",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "7927f2d8f5ac3c12",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 15,
        "width": 13,
        "height": 1
    },
    {
        "id": "0c3b7a8c249cc5be",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "6616274a8d7de7c3",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "1b0cf90aa13c2ed2",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "a670808756d2dead",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "734b5b45ad3ff782",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed96e13f2437c5eb",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "b655f2efe27a403aafdcc2d37d82918c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "734b5b45ad3ff782",
        "type": "ui_group",
        "name": "Display",
        "tab": "8ff4928f3ec236aa",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a56f8967af78bfb3",
        "type": "ui_group",
        "name": "Control",
        "tab": "8ff4928f3ec236aa",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2bb010b9aa3c9ffe",
        "type": "noraf-config",
        "name": "nora config",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "",
        "storeStateInContext": false,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "aecb9e982a41ae3a",
        "type": "noraf-config",
        "name": "nora config",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "",
        "storeStateInContext": false,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "8ff4928f3ec236aa",
        "type": "ui_tab",
        "name": "TTTT: Đồ Án Tự Động Hóa  Lớp ĐKTĐ0121 - Hà Gia Bảo - Nguyễn Phúc Điền",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]